.menu {
	background-color: rgba(67,203,255,0.4);
	text-transform: uppercase;
}

.titulo {
	text-align: center;
	font-size: 30px;
	padding-top: 30px;
	padding-bottom: 0px;
	font-family: arial;
	text-transform: uppercase;
}

.admin-rodape {
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: rgba(67,203,255,0.4);
}

.admin-texto-centralizado {
	text-align: center;
}